body {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #212121;
    padding: 20px;
  }
  
  header img {
    width: 100%;
    height: auto;
  }
  
  header h1 {
    color: white;
    font-size: 3rem;
  }
  
  header p {
    color: #ccc;
    font-size: 1.5rem;
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  section h2 {
    margin-top: 0;
    color: #007bff;
    font-size: 2rem;
  }
  
  section p {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  footer {
    background-color: #212121;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    color: white;
    font-size: 1.5rem;
  }
